@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Figtree', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Search.module.css */

.vibeContainer {
  font-family: 'Roboto', sans-serif;
}

.vibeContainer input::placeholder {
  color: #aaa;
  opacity: 1;
}

.vibeContainer input {
  transition: border-color 0.3s;
}

.vibeContainer input:focus {
  border-color: #9f7aea; /* Chakra's purple.500 color */
}

.vibeContainer .button:hover {
  cursor: pointer;
  background-color: #9f7aea; /* Chakra's purple.500 color */
}

